.coming-soon {
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.coming-soon h1 {
  font-size: 80px;
  color: #fff;
  z-index: 2;
}

.cool-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cool-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./gradient-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
  animation: coolBackgroundAnimation 30s ease infinite alternate;
}

@keyframes coolBackgroundAnimation {
  0% {
    filter: grayscale(100%) contrast(100%) brightness(100%) blur(0px) hue-rotate(0deg);
  }
  100% {
    filter: grayscale(0%) contrast(150%) brightness(90%) blur(2px) hue-rotate(360deg);
  }
}
